/*css  for the CheatSheet*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color:#FFFAED;
    /* 
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 400px ), repeating-linear-gradient( #ffecba55, #ffecba );
    */
}


.entry-title {
    font-size: 33px;
    font-weight: 300;
    line-height: 1.0909090909;
    text-transform: uppercase;
}


.div-entry-title{
    margin: 100px 50px 0;
}

.div-entry-title-img{
    margin: 100px 50px 0;
    display: flex;
    justify-content: space-around;
}

.div-header{
    text-align: center;
    background-color: #b6e17b;
    color: #323330;
    width: 100%;
    padding: 40px 0 0;
    display: table;
    margin-bottom: 10px;
}


.left {
    float: left;
    width: calc(94% / 3); /* The width is 20%, by default */
    background-color: white;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #aaa;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
  
.main {
    float: left;
    width: calc(94% / 3); /* The width is 60%, by default */
    background-color: white;
    margin-right: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #aaa;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
  
.right {
    float: left;
    width: calc(94% / 3); /* The width is 20%, by default */
    background-color: white;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #aaa;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.div-function-name{
    background-color: #ace1af;    
    padding-left: 15px;
    line-height: 19px;
    color: #000 !important;
    font-weight: bold;
    
}

.div-function-content{
    background-color: white;
}

.div-container{
    margin: auto;
    
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      margin: 0 10px 0 10px;
    }
}
