h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFAED;
}

label {
    font-weight: bold;
    color: navy;
}

input[type="number"] {
    margin-right: 20px;
}

canvas {
    background-color: #17181B;
    border: 2px solid green;
    vertical-align: top;
}