h3 {
    color: green;
}

body {
    font-family: 'Lato';
    background-color: #FFFAED;
}

label {
    font-weight: bold;
    color: navy;
}

input[type="number"] {
    margin-right: 20px;
}

canvas {
    background-color: #17181B;
    border: 2px solid green;
    vertical-align: top;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button{
    background-color: #20603d; 
    color: white;
    border-radius: 5px;
    padding: 6px 18px;
    transition-duration: 0.4s;
    border: none;
}

.button:hover {
    background-color:green;
}
  
input[type=number] {
    border: 1px solid green;
    border-radius: 3px;
}

select{
    border: 1px solid green;
    border-radius: 3px; 
}