body {
    font-family: 'Arial', sans-serif;
    background-color: #FFFAED;
    max-width: 800px; /* Set a maximum width for paragraphs and lists */
    margin: 0 auto; /* Center-align the paragraphs and lists */
    text-align: left; /* Left-align the text within paragraphs and lists */
    padding: 20px;
}

h3 {
    color: green;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
}

h4 {
    color: green;
}

code {
    background-color: #3b3b3b;
    color: #f8f8f2;
    padding: 0px 3px 0px 3px;
    
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

