/* styles.css */
body {
    background-color: #e5e5e5;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0db4f;
    color: #323330;
    text-align: center;
    padding: 20px;
}

div {
    padding-top: 15px;
    /*padding-right: 30px;
    padding-bottom: 50px;*/
    padding-left: 15px;
    /*border-top: 1px solid #ccc;*/
    width: fit-content;
}

/* styles.css */
.color-title {
    text-align: center; /* Set the background color for the highlighted row */
    color: #4c4c4c;
    font-size: 18px;
}
.color-title2 {
    background-color: #fcc8c7; /* Set the background color for the highlighted row */
}

/* styles.css */
.outer-border {
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #888; /* Add shadow effect */
    border-radius: 10px; /* Rounded corners for the table */
    margin-right: 20px; /* Add margin between tables for spacing */
}

.table-container {
    display: flex; /* Use flexbox to make tables display side by side */

}

.function-name{
    padding-left: 15px;
}

